.pilt {
  /* height: 200px; */
  width: 200px;
  cursor: pointer;
}

.pilt:hover {
  opacity: 0.7;
}

.nupp {
  cursor: pointer;
}

.nupp:hover {
  font-weight: bold;
}

.aktiivne {
 border: 1px solid green;
 background-color: rgb(238, 255, 238);
}

.mitteaktiivne {
  border: 1px solid red;
  background-color: rgb(255, 238, 238);
}